.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    margin-bottom: 1rem;
}

form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
    max-width: 600px;
    margin-bottom: 1rem;
}

label {
    font-weight: bold;
}

input[type="text"] {
    width: 100%;
    padding: 0.5rem;
    font-size: 1rem;
    border-radius: 5px;
    border: 1px solid #ddd;
}

button[type="submit"] {
    width: 100%;
    padding: 0.5rem;
    font-size: 1rem;
    border-radius: 5px;
    border: none;
    background-color: #4caf50;
    color: white;
    cursor: pointer;
}

#rolesList {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
    max-width: 600px;
}

.role {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.role-name {
    font-size: 1.2rem;
    font-weight: bold;
}

.role-text {
    font-size: 1rem;
}

.delete-button {
    background-color: #f44336;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    cursor: pointer;
}

#deleteAllRolesButtonWrapper {
    margin-top: 1rem;
    width: 100%;
    max-width: 600px;
    display: flex;
    justify-content: flex-end;
}

#deleteAllRolesButton {
    background-color: #f44336;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    cursor: pointer;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    background-color: #f2f2f2;
    font-size: large;
    padding: 10px 0;
}