body {
    font-family: 'Arial', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    width: 250px;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 5px 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

#rolesList {
    max-height: 200px;
    overflow-y: auto;
}

.role {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.role-text {
    flex-grow: 1;
    margin-right: 10px;
}

.role-apply {
    flex-shrink: 0;
}

.role-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 5px;
    margin-right: 10px;
}

.role-container button {
    background-color: #4CAF50;
    color: white;
    padding: 5px 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-left: 10px;
}

.role-container button:hover {
    background-color: #45a049;
}



.role-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 10px;
}

.role-name {
    margin-right: 10px;
    width: 100%;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}